.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-player {
    font-size: 2rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 768px) {
        font-size: 1.5rem;
    }

    @media screen and (max-width: 480px) {
        font-size: 1.2rem;
    }
}